# Logs
logs
*.log

# Dependency directories
node_modules/
docs/node_modules/

# Build output
build/
docs/build/
docs/.cache/
docs/.docusaurus/

# OS-specific files
.DS_Store

# Editor directories and files
.idea/
.vscode/
