:root {
  --ifm-color-primary: #2e8555;
  /* ... other Infima variables ... */
}

[data-theme='dark'] {
  background: #1B2537;
}

[data-theme='light'] {
  background: #FFFFFF;
}

.navbar {
  height: 59px;
  padding: 10px 20px;
}

[data-theme='light'] .navbar {
  background: #FFFFFF;
}

[data-theme='dark'] .navbar {
  background: #1B2537;
  border-bottom: 1px solid #333333
}

.navbar__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

[data-theme='light'] .navbar__title {
  color: #0063C8;
}

[data-theme='dark'] .navbar__title {
  color: #7DE868;
}

.navbar__items--right .navbar__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

[data-theme='light'] .navbar__items--right .navbar__item {
  color: #000000;
}

[data-theme='dark'] .navbar__items--right .navbar__item {
  color: #FFFFFF;
}

[data-theme='dark'] .navbar__logo {
  color: #0063C8; /* Blue for dark mode */
}

[data-theme='light'] .navbar__logo {
  color: #7DE868; /* Green for light mode */
}